$background: rgb(1, 49, 85);
$pokemon-background: rgb(1, 39, 68);
$create: rgb(65, 184, 65);
$create-hover: rgb(54, 158, 54);
$update: rgb(238, 238, 238);
$update-hover: rgb(221, 221, 221);
$delete: rgb(228, 41, 27);
$delete-hover: rgb(211, 44, 32);
